@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-font { 
  font-family: "Work Sans", serif;
  font-optical-sizing: auto;
  font-style: normal;
}

/* Shared Styles */

.display-flex {
    display: flex;
}

/* dark 01 */
.text-dark {
    color: #131313;
}

/* dark 02 */
.text-gray {
    color: #424242;
}

/* dark 03 */
.text-light-gray {
    color: #727272;
}

.bg-light {
    background-color: rgba(255, 144, 14, 0.1);
}

.btn-primary {
    border-radius: 8px;
    background-color: #FF900E;
    color: #FFFFFF;
    padding: 20px 25px;
    font-weight: 600;
    font-size: 1.25rem;
    border: none;
    outline: none;
}


main {
    max-width: 1440px;
    margin: 0 auto;
}

main > section {
    margin-top: 130px;
}

#quick-list {
    font-weight: 500;
}

.section-title {
    max-width: 468px;
    font-size: 2.8125rem;
    font-weight: 700;
    color: #131313;
}

.section-description {
    max-width: 545px;
    line-height: 26px;
    color: #727272;
}

.highlight {
    color: #FF900E;
}

/* header styles */


/* navbar related Styles */

.navbar {
    justify-content: space-between;
    align-items: center;
}

.nav-links {
    gap: 30px;
}

.nav-item {
    list-style: none;
}

.brand {
    font-weight: 700;
    font-size: 2.8125rem;
}

.nav-link {
    font-size: 1.125rem;
    text-decoration: none;
    font-weight: 500;
}

.navbar, .banner {
    max-width: 1440px;
    margin: 0 auto;
}

/* Banner related Styles */

.banner-content {
    max-width: 850px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}

.banner-title {
    font-weight: 700;
    font-size: 4rem;
}

.banner-description {
    line-height: 26px;
}

.banner-img {
    width: 100%;
    height: auto;
    margin-bottom: 50px;
}

/* Team section related styles */

.teams {
    align-items: center;
    gap: 130px;
}

.team-img-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}

.teams-content {
    max-width: 530px;
}

/* feature section related styles */

.features {
    gap: 145px;
    align-items: center;
}

.feature-card-title {
    font-size: 1.125rem;
    font-weight: 600;
    color: #131313;
}

.feature-card-description {
    line-height: 26px;
    color: #727272;
}

.feature-content {
    flex-basis: calc(48% - 145px);
}

.feature-content .section-title {
    padding-left: 20px;
    border-left: 5px solid #FF900E;
}

.feature-card-container {
    gap: 30px;
    flex-direction: column;
}

.feature-card {
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.06);
}

.architect-img {
    position: relative;
    flex-basis: 52%;
    height: fit-content;
}

.architect-img img {
    width: 100%;
    height: auto;
}

.architect-img button {
    position: absolute;
    bottom: -6.5%;
    left: -10.5%;
    padding: 45px 42px;
}

#experience-time {
    font-size: 4rem;
    font-weight: 700;
    line-height: 70px;
}

#experience {
    font-size: 1.5625rem;
    font-weight: 500;
    line-height: 40px;
}


/* facts related Styles */

.fact-card-container {
    display: grid;
    grid-template-columns: repeat(4, 220px);
    gap: 4%;
    margin-top: 100px;
    justify-content: center;
}

.fact-card {
    border-radius: 8px;
    border: 1px solid #FF900E;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 35px 20px;
}

.fact-number {
    margin: 10px 0px 5px 0px;
    font-weight: 600;
    font-size: 2.8125rem;
    color: #131313;
}

.fact-title {
    font-size: 1.25rem;
    margin: 0;
    font-weight: 600;
    color: #727272;
}

/* sponsors related styles */

.sponsors {
    text-align: center;
}

.sponsors .sponsor-info {
    width: fit-content;
    margin: 0 auto;
}

.sponsors-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    margin: 100px auto;
    justify-content: center;
}

.sponsors-container img {
    filter: grayscale(100%);
    width: 100%;
}

/* tablet */

@media screen and (max-width: 992px) {
    .btn-primary {
        padding: 15px 20px;
        font-size: 1rem;
    }
    .teams {
        flex-direction: column-reverse;
        align-items: normal;
    }

    .team-img-container img {
        width: 100%;
    }

    .features {
        flex-direction: column;
    }

    .architect-img {
        text-align: center;
    }

    .architect-img, .architect-img button {
        position: static;
    }

    .architect-img button {
        padding: 15px 30px;
        margin-top: 30px;
        margin-bottom: 30px;
    } 

    #experience-time {
        font-size: 3rem;
    }

    #experience {
        font-size: 1.25rem;
    }

    .fact-card-container {
        grid-template-columns: repeat(2, 250px);
        gap: 50px;
    }

    .sponsors-container {
        grid-template-columns: repeat(3, 1fr);
        gap: 50px;
    }
}

/* mobile */

@media screen and (max-width: 576px) {
    main > section {
        margin-top: 70px;
    }

    .navbar, .teams {
        flex-direction: column;
    }

    .brand {
        font-size: 2rem;
    }

    .nav-links {
        padding: 0;
        gap: 20px;
    }

    .banner-title {
        font-size: 3rem;
    }

    .teams {
        gap: 50px;
    }

    .team-img-container {
        grid-template-columns: 1fr;
    }

    .fact-card-container {
        grid-template-columns: 250px;
        gap: 50px;
    }
    
    .sponsors-container {
        grid-template-columns: repeat(2, 1fr);
        row-gap: 30px;
    }
}